<!-- top bar -->
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Company name</a>

  <div class="row" style="width: 750px">
    <div class="col-xs-12 col-12 col-md-4 form-group" style="margin: 0">
      <app-datepicker (dateChange)="dateRange = $event"></app-datepicker>
    </div>
  </div>

  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <button type="button" class="btn btn-dark">Sign out</button>
    </li>
  </ul>
</nav>

<!-- main -->
<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active">
              <i class="fas fa-home"></i>
              Dashboard <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="padding-left: 20px"><i class="fas fa-file"></i> Orders</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">
              <i class="fas fa-shopping-cart"></i>
              Products
            </a>
          </li>
        </ul>

        <h6
          class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted"
        >
          <span>Financial Charts</span>
          <a class="d-flex align-items-center text-muted" (click)="isShown = !isShown">
            <i class="fas fa-plus-circle"></i>
          </a>
        </h6>

        <!-- <div id="list" *ngIf="(result$ | async) as repos">
          <ul>
            <ng-container *ngFor="let repo of (repos | slice: 0:25)">
              <li>
                <a [href]="repo.html_url" target="_blank">
                  {{ repo.name }} with {{ repo.stargazers_count }} star(s))</a>
              </li>
            </ng-container>
          </ul>
        </div> -->
        <div class="btn-group" dropdown style="margin: 5px" *ngIf="isShown">
          <button type="button" class="btn btn-sm dropdown-toggle" dropdownToggle aria-controls="dropdown-alignment">How many charts do you need?</button>
          <ul id="dropdown-alignment" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="button-alignment">
            <li role="menuitem"><a class="dropdown-item" (click)="numberOfCharts = 1">1 chart</a></li>
              <li class="divider dropdown-divider"></li>
            <li role="menuitem"><a class="dropdown-item" (click)="numberOfCharts = 2">2 charts</a></li>
              <li class="divider dropdown-divider"></li>
            <li role="menuitem"><a class="dropdown-item" (click)="numberOfCharts = 3">3 charts</a></li>
              <li class="divider dropdown-divider"></li>
            <li role="menuitem"><a class="dropdown-item" (click)="numberOfCharts = 4">4 charts</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
      <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom"
      >
        <h1 class="h2">Dashboard</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
            <button class="btn btn-sm btn-outline-secondary" disabled>Share</button>
            <button class="btn btn-sm btn-outline-secondary" disabled>Export</button>
          </div>
          <div class="btn btn-sm btn-outline-secondary" *ngIf="dateRange">
            <i class="fa fa-calendar"></i>
            {{ dateRange[0] }} - {{ dateRange[1] }}
          </div>
        </div>
      </div>

      <!-- Charts -->
      <ng-container> 
        <app-highchart *ngIf="numberOfCharts > 0" [dateRange]="dateRange"></app-highchart>
        <app-highchart *ngIf="numberOfCharts > 1" [dateRange]="dateRange"></app-highchart>
        <app-highchart *ngIf="numberOfCharts > 2" [dateRange]="dateRange"></app-highchart>
        <app-highchart *ngIf="numberOfCharts > 3" [dateRange]="dateRange"></app-highchart>
      </ng-container>

      <!-- <canvas class="my-4" id="myChart" width="900" height="380"></canvas> -->
    </main>
  </div>
</div>
